body {
    margin: unset;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
}

.header {
    background-color: #D9D8AB;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main-logo {
    margin-left: 10px;
    height: 90px;
}

.navbar {
    height: 30px;
    border-top: 1px #4E4631 solid;
}

.navbar-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: unset;
}

.link-card {
    margin: 2px 0px;
    padding: 0px 10px;
    font-size: 20px;
}

.active {
    font-weight: bold;
}

a {
    color: #4E4631;
    text-decoration: none;
}

.terms-link {
    color: #5398BE;
    cursor: pointer;
}

.main {
    height: calc(100vh - 120px - 40px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
    background-color: #E2E3D0;
    overflow: auto;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0px 20px;
    color: #4E4631;
}

.team-card-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}

.team-card {
    height: 100px;
    max-width: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px 10px;
}

.team-card-photo {
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.team-card-text {
    padding: 5px;
    height: 100%;
    font-size: 12px;

}

.footer {
    height: 40px;
    background-color: #D9D8AB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}

.footer-logo {
    float: right;
    margin: 10px;
}

.footer-text {
    margin: 10px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
}

.row.center {
    justify-content: center;
}

.col.center {
    align-items: center;
}

.col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: Londrina Solid;
    font-size: 25px;
    color: #77567A;
}

h2 {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
}


/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/londrinasolid/v10/flUhRq6sw40kQEJxWNgkLuudGfNeKBM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cookie/v12/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (max-width: 700px) {
    .navbar-wrapper {
        justify-content: center;
    }

    .link-card {
        font-size: 17px;
    }

}

.bmc-button img {
    width: 27px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    line-height: 36px !important;
    height: 37px !important;
    text-decoration: none !important;
    display: inline-flex !important;
    color: #ffffff !important;
    background-color: #522E0A !important;
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    padding: 1px 9px !important;
    font-size: 23px !important;
    letter-spacing: 0.6px !important;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    margin: 10px !important;
    font-family: 'Cookie', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color: #ffffff !important;
}
